.relationship-container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #2563eb;
  color: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
}