.users-container {
  max-width: 1200px;
  margin: 0 auto;
}

.users-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.form-row input,
.form-row select {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.form-row button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  background: #2563eb;
  color: white;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
}

.edit-btn {
  background: #16a34a;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 8px;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}